# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- development

pool:
  vmImage: ubuntu-latest

stages:
- stage: 'Build'
  displayName: 'Build the web application'
  jobs: 
  - job: 'Build'
    displayName: 'Build job'
    pool:
      name: MyAgentPool
      demands:
      - npm
    steps:
     - task: Maven@4
       inputs:
        mavenPomFile: 'pom.xml'
        testResultsFiles: '**surefire-reports/TEST-*.xml'
        javaHomeOption: JDKVersion
        mavenVersionOption: Default
     
     
  
     -  task: CopyFiles@2
        inputs:
         Contents: '**/target/*.jar'
         TargetFolder: '$(Build.ArtifactStagingDirectory)'

     -  task: PublishPipelineArtifact@1
        inputs:
          targetPath: '$(Pipeline.Workspace)'
          publishLocation: 'pipeline'
          artifact: 'drop'
- stage: 'Dev'
  displayName: 'Deploy to the dev environment'
  dependsOn: Build
  jobs:
  - deployment: Deploy
    pool:
      name: MyAgentPool
    environment: dev
    
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: drop
- stage: 'Test'
  displayName: 'Deploy to the test environment'
  dependsOn: Dev
  
  jobs:
  - deployment: Deploy
    pool:
      name: MyAgentPool
    environment: test
    
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: drop
- stage: 'Staging'
  displayName: 'Deploy to the staging environment'
  dependsOn: Test
  jobs:
  - deployment: Deploy
    pool:
      name: MyAgentPool
    environment: staging
    
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: drop