name: CI for Maven Project- Non contanierization build


on: workflow_dispatch

jobs:
 build: 
  runs-on: ubuntu-latest
  steps:
   - name: Checkout
     uses: actions/checkout@v4.2.2    #github_workspace ( def env variable storing the copy of the repo from code section to actions sec)
   - name: Setup Java JDK 
     uses: actions/setup-java@v3.14.1
     with:
      java-version: '17'
      distribution: 'microsoft'
   - name: Build with Maven
     run: |
       mvn --batch-mode --update-snapshots verify
       mkdir staging && cp target/*.jar staging
   - name: Upload a Build Artifact
     uses: actions/upload-artifact@v4.6.2
     with:
      name: Package
      path: staging
      
     
