name: CI Maven - LBG

on:
 workflow_dispatch

jobs:
 build:
  runs-on: ubuntu-latest
  steps:
    - name: Checkout
      uses: actions/checkout@v5.0.0
    - name: Setup Java JDK
      uses: actions/setup-java@v5.0.0 
      with:
       java-version: 17
       distribution: microsoft
    - run: |
       mvn --batch-mode --update-snapshots verify
       mkdir staging && cp target/*.jar staging
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v5.0.0
      with:
       name: Package
       path: staging
       
