name: Setup for Java and Maven1

on:
 push

jobs:
 echo_java_mavenrepo:
  runs-on: ubuntu-latest
  steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
       java-version: '17'
       distribution: 'microsoft'
    - run: mvn --batch-mode --update-snapshots verify
    - run: mkdir staging && cp target/*.jar staging
    - uses: actions/upload-artifact@v4
      with:
       name: Package
       path: staging
  
      
      
   
